body {
    background-color: rgb(29, 28, 79);
    font-family: 'Times New Roman', Times, serif;
 }

 nav {
    width: auto;
     
     
     
 }
 div img {
     width: 10em;
     height: 10em;
     border-radius: 50%;
     mix-blend-mode: lighten;
     filter: grayscale(75%);
     lighting-color: rgb(143, 154, 154,);
 }
 
 div h1 {
    
     display: flex;
     justify-content: flex-end;
     font-weight: 600;
     font-style: oblique;
     color: aquamarine;
     transition: all 300ms;
 }
 h1:hover{
     transform: scale(1.25);
     
 }

 p {
     font-size: larger;
     padding: 75px 25px 75px 25px;
     color: aliceblue;
     
     text-align: center;    
   
 }
 div a{
    padding: 15px;
 }
 
 
 
 