body {
    background-color: #1e446c;
    font-family: 'Times New Roman', Times, serif;
 }

 nav {
    width: auto;
     
     
     
 }
 
 

 p {
     font-size: larger;
     padding: 75px 25px 75px 25px;
     color: aliceblue;
     
     text-align: center;    
   
 }
 div a{
    padding: 15px;
 }
 
 
 
 