<div class="row">
    <h1>Educacion</h1>
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
      <ul>
        <li><h2>Estudio</h2> - <h3>Años</h3></li>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem vitae rerum expedita, minus omnis dolor animi velit ut aspernatur ipsa commodi fuga voluptate at. Sunt magnam quisquam magni animi numquam!</p>
      </ul>
      <ul>
        <li><h2>Estudio</h2> - <h3>Años</h3></li>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem vitae rerum expedita, minus omnis dolor animi velit ut aspernatur ipsa commodi fuga voluptate at. Sunt magnam quisquam magni animi numquam!</p>
      </ul>
      <ul>
        <li><h2>Estudio</h2> - <h3>Años</h3></li>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem vitae rerum expedita, minus omnis dolor animi velit ut aspernatur ipsa commodi fuga voluptate at. Sunt magnam quisquam magni animi numquam!</p>
      </ul>
    </div>
  </div>