<div class="container">
    <h1>Educacion</h1>
    <div class="col-10">
      <ul>
        <li><h2>Tecnico en Analisis de Sistemas</h2><h2>Inicio: 2022 - Actual</h2></li>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem vitae rerum expedita, minus omnis dolor animi velit ut aspernatur ipsa commodi fuga voluptate at. Sunt magnam quisquam magni animi numquam!</p>
      </ul>
      <span class="col-1">
        <button class="btn btn-light">&#9998;</button>
      </span>
  </div>