<div class="container">
  <div class="row">
    <div class="col-sm-4">
      
      <img src="src/assets/imagenes/f1.jpg" alt="fotoPerfil">
     
    </div>
    <div class="col-sm-6">
      <h1>Hola Soy Andres, y soy Desarrollador Web</h1>
    </div>
    
  </div>
</div>


<div class="container">
    <div class="row">
      <div class="col-11">
        <p>Me gustan los desafios, siempre busco mejorar mis tecnicas.
      actualmente estoy cursando la carrera de Tecnico en Analisis de Sistema. 
      Siempre estoy buscando actualizarme en contenidos para lograr un mejor desarrollo.
        </p>
      </div>
      <div class="col-1">
        <button class="btn btn-dark" style="margin-top: 14em;">&#9998;</button>
      </div>
    </div>
  </div>
