<div class="flex container row">
    <div class="col-sm-3" id="izquierda">
      <p>Direccion</p>
      <p>La Banda - Santiago del Estero</p>
      <p>Argentina</p>
    </div>
    <div class="col-sm-6" id="centro">
      <h4>Redes Sociales</h4>
      <p><a href="#">Facebook</a></p>
      <p><a href="#">GitHub</a></p>
      <p><a href="#">Insagram</a></p>
    </div>
    <div class="col-sm-3" id="derecha">
      <h4>Telefonos</h4>
      <p>Celular: 354543213541</p>
      <p>Oficina: 54545534</p>
    </div>
  </div>
