<div class="flex-container row">
 
  <div class="col">
    <img src="/src/assets/imagenes/APLogo-20-20.png" style="height: 5em;" alt="logo">
  </div>
  <div class="col text-end">
    <a href="#" style="padding: 15px;">Facebook</a>
    <a href="#" style="padding: 15px;">Instagram</a>
  </div>
  <div class="col col-sm-2 flex-end">
    <button class="btn btn-light"><a href="#">Login</a></button>
  </div>
</div>


<nav>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <picture>
            <img src="/src/assets/imagenes/f1.jpg" alt="fotoPerfil">
          </picture>
        </div>
        <div class="col-sm-6">
          <h1>Hola, Soy Andres</h1>
        </div>
        <div class="col-sm-1">
          <button class="btn btn-dark" style="margin-top: 10em;">&#9998;</button>
        </div>
      </div>
    </div>
  </nav>
