body{
    background-color: rgb(34, 53, 71);
}
picture{
    display: inline-block;
    justify-content: right;
    border-radius: 50%;
    
}
picture img {
    height: 8em;
    width: 8em;
    border-radius: 50%;
    mix-blend-mode: lighten;
    filter: grayscale(75%);
    lighting-color: aqua;
}
