
<div class="row">
    <h1 style="color: azure;">Experiencia y Proyectos</h1>
    <div class="card col-3">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    
  <div class="card col-sm-3" >
    <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
  </div>
  <div class="card col-sm-3" >
    <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
  </div>
    <div class="col-sm-1">
      <button class="btn btn-light">&#9998;</button>
    </div>
</div>

<div class="row">
  <h1>Educacion</h1>
  <div class="col-sm-1"></div>
  <div class="col-sm-11">
    <ul>
      <li><h2>Estudio</h2> - <h3>Años</h3></li>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem vitae rerum expedita, minus omnis dolor animi velit ut aspernatur ipsa commodi fuga voluptate at. Sunt magnam quisquam magni animi numquam!</p>
    </ul>
    <ul>
      <li><h2>Estudio</h2> - <h3>Años</h3></li>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem vitae rerum expedita, minus omnis dolor animi velit ut aspernatur ipsa commodi fuga voluptate at. Sunt magnam quisquam magni animi numquam!</p>
    </ul>
    <ul>
      <li><h2>Estudio</h2> - <h3>Años</h3></li>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem vitae rerum expedita, minus omnis dolor animi velit ut aspernatur ipsa commodi fuga voluptate at. Sunt magnam quisquam magni animi numquam!</p>
    </ul>
  </div>
</div>

