<h2 style="color:azure; padding-inline-start: 15px;">Proyectos</h2>  
<div class="container">
  <div class="row">
    <div class="card col-4" style="width: 15rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    
    <div class="card col-sm-4" style="width: 15rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
    <div class="col-sm-1"style="margin: right 0.5em;">
      <button class="btn btn-light">&#9998;</button>
    </div>
  </div>
</div>
